pipeline/Copy_All_EastUs.json
{
	"name": "Copy_All_EastUs",
	"properties": {
		"activities": [
			{
				"name": "EastUSContainers",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "container_list",
					"value": [
						"ameshousing",
						"chexpert",
						"food101",
						"lendingclub",
						"trash-objects-in-context"
					]
				}
			},
			{
				"name": "MoveContainer",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "EastUSContainers",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('container_list')",
						"type": "Expression"
					},
					"batchCount": 3,
					"activities": [
						{
							"name": "Copy_Container",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "BinarySource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true
									},
									"formatSettings": {
										"type": "BinaryReadSettings"
									}
								},
								"sink": {
									"type": "BinarySink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									}
								},
								"enableStaging": false,
								"parallelCopies": 64,
								"dataIntegrationUnits": 64
							},
							"inputs": [
								{
									"referenceName": "Source_All_EastUS",
									"type": "DatasetReference",
									"parameters": {
										"container_name": {
											"value": "@item()",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "Dest_ADLS_All_Eastus",
									"type": "DatasetReference",
									"parameters": {
										"container_name": {
											"value": "@item()",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"variables": {
			"container_list": {
				"type": "Array"
			}
		},
		"annotations": []
	}
}