pipeline/Download_NYC_Taxi.json
{
	"name": "Download_NYC_Taxi",
	"properties": {
		"activities": [
			{
				"name": "Get_Urls",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "URLs",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Download Each File",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get_Urls",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get_Urls').output.value",
						"type": "Expression"
					},
					"batchCount": 10,
					"activities": [
						{
							"name": "Download URL",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "BinarySource",
									"storeSettings": {
										"type": "HttpReadSettings",
										"requestMethod": "GET"
									},
									"formatSettings": {
										"type": "BinaryReadSettings"
									}
								},
								"sink": {
									"type": "BinarySink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									}
								},
								"enableStaging": false,
								"parallelCopies": 32
							},
							"inputs": [
								{
									"referenceName": "TLC_HTTP_SERVICE",
									"type": "DatasetReference",
									"parameters": {
										"base_url": {
											"value": "@item()['URLs']",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "Sink_TLC_Data",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"annotations": []
	}
}